<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
      <add name="connstrng" connectionString="Data Source=(local);Initial Catalog=AnyStore;Integrated Security=True" />
      <add name="AnyStore.Properties.Settings.studentdb1ConnectionString"
          connectionString="Data Source=DESKTOP-1N0PBMS;Initial Catalog=studentdb1;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>